*.iml
*.class
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator/
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/dictionaries/
/emoticon-scrapper/.idea/workspace.xml
/emoticon-scrapper/out/
/emoticon-scrapper/out/production/
!/emoticon-scrapper/mEmoticon-scrapper.iml
